.header{
  width: calc(100% - 2*48px);
  margin: 0 auto;
  padding-top: 28px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  transition: width 0.4s,font-size 0.5s,padding 0.4s ease-out;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .header {
    width: calc(100% - 2*24px);
    transition: width 0.4s ease-out;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 2*16px);
    padding-top: 16px;
    transition: width 0.4s ease-out;
  }
}
