@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list/_style/_bold/intro__list_syle_bold.css);

.intro{
width: calc(100% - 148px - 442px);
margin-top: 92px;
margin-left: 148px;

transition: width 0.4s,margin 0.4s,padding 0.4s ease-out;


}

@media screen and (min-width:1024px) and (max-width: 1279px) {
  .intro {
    width: calc(100% - 48px - 286px);
    margin-left: 48px;
  }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .intro {
    width: calc(100% - 2*24px);
    margin: 0 auto;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: calc(100% - 2*16px);
    margin: 0 auto;
    margin-top: 64px;

  }
}
