.cover__overlay{
  background-color: rgba(42, 44, 47, 0.3);
  width: 100%;
  opacity: 1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color .4s ease-in-out
}


.cover__overlay:hover{
  background-color: rgba(42, 44, 47, .8);
  }




