.lead__caption{
  margin:0;
  margin-top: 8px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  align-self: flex-start;
  letter-spacing: 1.5px;

  transition: margin 0.4s ease-out;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}
