.cover__title{
  margin:0;
  max-width: 560px;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  transition: max-width 0.4s,font-size 0.5s ease-in-out;
}

@media screen and (max-width: 767px) {
    .cover__title{
      min-width: 288px;
      font-size: 32px;
      line-height: 35px;
    }
  }
