.intro__title{
  width: 100%;
  margin: 0;
  font-size: 54px;
  font-weight:900;
  line-height: 58px;
  transition: font-size 0.4s,line-height 0.4s ease-out;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
